[defaults]

# when terraform recreates VMs, ssh host keys will change and cause Ansible to fail with \"WARNING: REMOTE HOST IDENTIFICATION HAS CHANGED\"  
# But you create risk bcs ansible won't warn you if you are connecting to a different host (e.g. due to DNS spoofing attack). 
host_key_checking = False


#use yaml for output instead of json
stdout_callback = yaml
bin_ansible_callbacks = True

# disable retry files (optional)
retry_files_enabled = False

[inventory]
# Define types of inventory which Ansible can read
enable_plugins = yaml, ini
