[defaults]

#turn off ssh key checking for local docker inventory
host_key_checking = False


#use yaml for output instead of json
stdcout_callback = yaml
bin_ansible_callbacks = True


retry_files_enabled = False
